.main{
}
body {
    height: 10000px;    
}
.header{
    height: var(--header);
    color: var(--white-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);

    background-color: #333e48;
}
.header__nav{
    height: var(--header-nav);
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.header__nav-list{
    padding-left: 0;
    /* margin: 10 0; */

}
.header__nav-item {
    display: inline-block;
    list-style: none;
    margin: 0px 8px;
    position: relative;
}
.header__nav-item--separate::after {
    content: "";
    display: block;
    height: 12px;
    border: 1px solid #fff;
    position: absolute;
    right: -10px;
    top: 0;
    opacity: 0.5;
}
.header__nav-item a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    
}

.header__nav-item:hover .header__qr {
    display: block;
    cursor: pointer;
}
.header__nav-item:hover .header__notify {
    display: block;
}

.header__nav-item i {
    padding-right: 4px;
}
.header__nav-item .fas--font{
    font-size: 1.5rem;
}
.header__nav-item a:hover {
    opacity: 0.8;
    cursor: pointer;
}
.header .header_content {
    height: calc(var(--header) - var(--header-nav));
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.grid__full_bgr {
    background-color: var(--white-color);
}
.header__logo {
    width: 260px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.header__logo img{
    width: 60px;

}
.header__search {
    flex: 1;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px 2px  rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    /* justify-content: center; */
}
.header__search-search {
    flex: 1;
}

.header__search--input {
    width: 100%;
    padding : 12px;
    border-style: none;
    font-size: 1.3rem;
    outline: none;
}
.header__search-switch {
    width: 110px;
    color: black;
    display: flex;
    justify-content: center;
    border-left: 1px solid #ccc;
    position: relative;

}
.header__search--switch-shop{
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 16px;
    font-size: 1.4rem;
    padding-top: 4px;
    padding-bottom: 4px;
}
/* .header__search--switch-shop::after{
    content: "";
    border: 1px solid #ccc;
    position: absolute;
    height: 1.8rem;
    left: 0;
    align-items: center;
} */
.header__search--switch-shop >i {
    opacity: 0.4;
    margin-left: 12px;
    font-size: 1rem;
    padding-right: 8px;
}
.header__search-switch:hover .header_search-option{
    display: block;
}
.header__search-icon {
    cursor: pointer;
    font-size: 1.4rem;

}
.header__search--icon:hover {
    background-color: #333e48;

}
.header__search--icon {
    padding : 10px 25px;
    color: var(--white-color);
    background-color: #fb5533;

    margin-right: 2px;
    border-radius: 3px;
}
.header_search-option {
    position: absolute;
    top: 100%;
    right: 0;
    padding-left: 0;
    margin: 0;
    display: none;
}
.header_search-option::before {
    content: "";
    width: 110px;
    height: 38px;
    position: absolute;
    display: block;
    margin-top: -10px;
}
.header_search-item-option {
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
    width: 110px;
    height: 38px;
    display: flex;
    padding: 8px 8px;
    background-color: var(--white-color);
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 1px 1px 0px  rgba(0, 0, 0, 0.1);
}
.header_search-item-option:hover {
    background-color: rgb(248, 248, 248);
}
.header_search-item-lable {
    display: block;
    width: 100%;
    position: relative;
}
.header_search-item-lable i{
    font-size: 1rem;
    position: absolute;
    right: 0;
}
.header_search-item-lable--active i{
    color: red;
}
.header__cart {
    width: 80px;
    color: red;
    font-size: 26px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.header__cart:hover {
    opacity: 0.6;
}
.header__cart--cart{
   
}
/* Header QR */

.header__qr {
    width: 180px;
    background-color: var(--white-color);
    top: 25px;
    left: 0;
    position: absolute;
    display: none;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
    animation: animati ease-in 0.3s;
    
}
.header__qr::before {
    content: "";
    height: 20px;
    width: 180px;
    position: absolute;
    display: block;
    margin-top: -20px;
}
.header__qr .header__qr-img {
    width: 100%;
}
.header__qr--apps {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__qr--link:nth-child(1){
    margin-left: 21px;
}
.header__qr--link:nth-child(2){
    margin-right: 21px;
}
.header__qr--downloads {
    width: 66px;
    height: 18px;
}


/* Header notification */
.header__notify {
    position: absolute;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    top: 25px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    animation: animati ease-in 0.3s;
    cursor: pointer;
    color: var(--black-color);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: notifyAnimation ease-in 0.3s;
    will-change: opacity, transform;
}
.header__notify::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -28px;
}
.header__notify-header {
    /* background-color: var(--white-color); */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.header__notify-header h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.6;
    /* display: none; */

}

.header__notify-list {
    background-color: #fff2ee;
    padding-left: 0;
    
}
.header__notify-item {
    list-style: none;

    /* justify-content: space-between; */
}
.header__notify-item:hover{
    background-color: #f8f8f8;

}
.header__notify-item .header__notify-link {
    color: var(--black-color);

    /* list-style: none; */
    display: flex;
    padding: 8px 8px 12px;

    

}

.header__notify-item--img {
    width: 40px;
    height: 24px;
}
.header__notify-item--infor {

    /* position: absolute; */
    /* top: 0; */
    padding-left: 4px;
}
.header__notify-item--header {
    font-size: 1.4rem;
    opacity: 0.8;
    display: block;
    margin-bottom: 4px;
}
.header__notify-item--content {
    display: block;
    opacity: 0.6;
    width: 325px;

    max-height: 2.6em;
    overflow: hidden;

}
.header__notify-footer a{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black-color);
}

/* Đăng Ký */
.auth-form {
    /* padding: 0; */

}
.auth-form-container {
    padding : 24px 24px 8px
}
.auth-form__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.auth-form__heading {
    display: block;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
}
.auth-form__switch-btn {
    display: block;
    font-size: 1.4rem;
    color: red;
    cursor: pointer;
}
.auth-form__form {
    display: flex;
    flex-direction: column;
}
.auth-form__form--group {

}
.auth-form__input {
    width: 100%;
    height: 38px;
    font-size: 1.2rem;
    padding-left: 12px;
    border: 1px solid #ccc;
    outline: none;
    
}
.auth-form__form--group + .auth-form__form--group {
    padding-top: 16px;
}
.auth-form__policy {
    padding: 8px 8px;
    text-align: center;
}
.auth-form__policy-text {
    font-size: 1.4rem;
}
.auth-form__policy-link-text {
    color: red;
    text-decoration: none;
}

.auth-form__btn {
    padding-top: 48px;
    display: flex;
    justify-content: flex-end;
}
.btn-return:hover {
    background-color: gray;
    opacity: 0.4;
}
.btn-register {
    margin-left: 8px;
    font-weight: 600;
    color: var(--white-color);
    background-color: rgb(250, 37, 0);
}
.auth-form__socials {
    padding : 16px 24px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}
.btn-with-icon {
    padding: 8px 8px;
    text-align: center;

}
.btn-with-icon-facebook{
    background-color: #3a5a98;
    width: 48%;
    text-decoration: none;
    color: var(--white-color);
}
.btn-with-icon-google{
    width: 48%;
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--black-color);
    line-height: 1.4;
}
.fab-auth-icon {
    font-size: 1.8rem;
}
.auth-form__socials i {
    margin-right: 20px;
}
.auth-form__policy--support {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.auth-form__policy-forget-password {
    cursor: pointer;
    color: red;
    
}
.auth-form__policy-forget-password::after {
    content: "";
    border: 1px solid black;
    display: block;
    height: 1.2rem;
    position: absolute;
    right: 16.5%;
    top: 25%;
    opacity: 0.3;
}
.auth-form__policy-help {
    padding-left: 32px;
    cursor: pointer;

}
.auth-register {
    /* display: none; */
}
.auth-login {
    display: none;
}